
.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Center items within .Menu */
    background-color: lightblue;
    height: 300px;
    padding: 20px;
    width: 750px;
    margin-left: 25%;
}
button{
    padding: 8px;
    margin: 8px;
    font-size: 25px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: white;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
    background-color:rgb(235, 229, 241);
    font-size: 30px;

}
textarea {
    width: 350px;
    height: 250px;
    resize: none;
    padding: 15px;
    
}

.header{
    height: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;

}